npm i react-router-dom
npm i react-markdown
npm i remark-gfm
npm i rehype-pretty-code

npm i -D tailwindcss postcss autoprefixer
npx tailwindcss init -p

npm i vite-plugin-static-copy --save-dev

npm i firebase
npm i daisyui