npm i react-router-dom
npm i react-markdown
npm i remark-gfm
npm i rehype-pretty-code

npm install -D tailwindcss postcss autoprefixer
npx tailwindcss init -p

npm install vite-plugin-static-copy --save-dev
